.nav-logo
{
    font-family: 'Bungee Inline', cursive;
    font-weight: 700;
}
.content-body
{
    margin-top: 80px ;
}
@media (max-width: 768px) {
    .content-body {
        margin-top: 56px;
        font-size: .7em;
    }
}
@media (min-width: 768px) {
    .content-body {
        margin-top: 80px;
    }
    .nav-logo
    {
        font-size: 2rem;
    }
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}
.bg-red-common
{
    background: rgb(204,0,0) !important;
    color: rgb(255,255,255) !important;
}

